*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Deyner Fabian Serrano', sans-serif;
}
.superior {
    background-color: #4A4B59;
    color: #fff;
}

.nombre {
    position: relative;
    left: 165px;
    padding: 55px;
}

h3{
    color: #191c32;
    font-size: 25px;
}

.nombre span {
    color: #24CDC8;
}

.superior img {
    width: 330px;
    height: 475px;
    position: relative;
    left: 225px;
    border-radius: 15px;
}

.main {
    margin: 0 auto;
    width: 550px;
    height: 400px;
    margin-right: 200px;
    margin-top: -400px;
    color: #fff;

}

.main h2 {
    font-size: 30px;
    position: relative;
    left: -20px;
}

.main p {
    position: relative;
    left: -20px;
    font-size: 20px;
    justify-content: center;
}

.main span {
    color: #24CDC8;
}



.habilidades{
    background-color: #4A4B59;
    padding: 10px;
    width: 100vw;
}

.title h2 {
    color: #fff;
    font-size: 40px;
    width: 1130px;
    margin: 20px auto;
    text-align: center;
}

.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;

}

.contenido {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191c32;
    border-radius: 20px;
    margin: 18px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.contenido i {
    font-size: 50px;
    font-display: block;
    text-align: center;
    margin: 25px 0px;
    color: #191c32;
}

h5 {
    color: #24CDC8;   /*no hace nada porque seria para el logo de las habilidades*/
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #D1EED3;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.contenido .button {
    background-color: #4A4B59;
    color: #fff;
    text-decoration: none;
    border-radius: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.contenido .button:hover {
    background-color: #4A4B59;
    border: 3px solid #4A4B59;
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #4A4B59;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



footer p:nth-child(2) {
    font-size: 22px;
    color: #fff;
    width: 800px;
    text-align: center;
    line-height: 26px;

}






.contacto{
    background-color: #4A4B59;
    padding: 10px;
    width: 100vw;
}

.titulos h2 {
    color: #fff;
    font-size: 40px;
    width: 1130px;
    margin: 2px auto;
    text-align: center;
    padding-top: 100px;
}

.cajas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoslogos {
    height: 265px;
    width: 300px;
    padding-top: 70px;
    margin: 1px;
    position: relative;
    text-align: center;
}

.pr p {
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    padding-top: 100px;
}










